.statistics__info {
  width: 85.5555556%;
  padding-bottom: 76px;
  padding-left: 104px;
}

@media screen and (max-width: 1280px) {
  .statistics__info {
    padding-left: 80px;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 1024px) {
  .statistics__info {
    padding-left: 55px;
    padding-bottom: 55px;
  }
}

@media screen and (max-width: 768px) {
  .statistics__info {
    padding-left: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 560px) {
  .statistics__info {
    padding-left: 26px;
    padding-bottom: 32px;
    padding-top: 16px;
  }
}

@media screen and (max-width: 500px) {
  .statistics__info {
    padding-left: 16px;
    padding-bottom: 24px;
  }
}


