.github__commits {
  width: 100%;
  background-color: #f5f6f7;
  box-shadow: black;
  overflow: hidden;
}

.github__commits::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 288px;
  z-index: 1;
  background: linear-gradient(90deg,rgba(255, 255, 255, 0),#ffffff);
}

.github__commits::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6%;
  height: 288px;
  z-index: 1;
  background: linear-gradient(90deg,#ffffff, rgba(255, 255, 255, 0));
}

@media all and (max-width: 460px) {
  .github__commits::after {
    display: none;
  }
  .github__commits::before {
    display: none;
  }
}

.github__commits_off {
  display: none;
}