.news__item-image {
  min-height: 272px;
  border-radius: 16px 16px 0 0;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .news__item-image {
    min-height: 220px;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .news__item-image {
    min-height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .news__item-image {
    min-height: 150px;
  }
}

@media screen and (max-width: 690px) {
  .news__item-image {
    min-height: 196px;
  }
}
