.analytics__row-y {
  width: 7.4%;
}

@media screen and (max-width: 1280px) {
  .analytics__row-y {
    width: 10.1162791%;
  }
}

@media screen and (max-width: 1024px) {
  .analytics__row-y {
    width: 12.1162791%;
  }
}

@media screen and (max-width: 768px) {
  .analytics__row-y {
    width: 15.1162791%;
  }
}

@media screen and (max-width: 500px) {
  .analytics__row-y {
    width: 27.7777778%;
  }
}

