.menu__item_bottom a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #1a1b22;
  font-weight: 300;
  transition: 0.2s;
}

.menu__item_bottom:hover a {
  color: #e6e6e6;
}

@media screen and (max-width: 1024px) {
  .menu__item_bottom {
    margin-right: 0px;
  }
}

@media screen and (max-width: 740px) {
  .menu__item .menu__item_bottom {
    margin-left: 0px;
    margin-right: 0px;
  }
}
