.news__result-title {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 470px) {
  .news__result-title {
    font-size: 30px;
    line-height: 34px;
  }
}