@import url(./__circle/loading__circle.css);
@import url(./__progress/loading__progress.css);

.loading {
  display: none;
  width: 100%;
  margin: auto;
  background: #f5f6f7;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1280px) {
  .loading {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 1024px) {
  .loading {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 768px) {
  .loading {
    padding-top: 65x;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 690px) {
  .loading {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 470px) {
  .loading {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.loading_show {
  display: block;
}