.news__result-link {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1a1b22;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.news__result-link:hover {
  color: rgb(230, 230, 230);
}
