.news__item {
  width: 32.4675325%;
  height: auto;
  background: #ffffff;
  border-radius: 16px;
  transition: 0.2s;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__item:hover {
  box-shadow: 0 0 130px rgba(50, 50, 51, 0.1);
}

@media screen and (max-width: 1024px) {
  .news__item {
    justify-content: start;
  }
}

@media screen and (max-width: 1024px) {
  .news__item {
    justify-content: start;
  }
}

@media screen and (max-width: 768px) {
  .news__item {
    width: 32.56%;
  }
}

@media screen and (max-width: 690px) {
  .news__item {
    width: 100%;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 470px) {
  .news__item {
    margin-bottom: 8px;
  }
}
