.analytics__y-item {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 80px;
  color: #1a1b22;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media screen and (max-width: 500px) {
  .analytics__y-item {
    line-height: 48px;
  }
}
